:root{
--main-light-color: #fff;
--secondary-front-color: #212121;
--accent-color: #2196f3;
--secondary-accent-color: #188ce8;
--logo-color: #000;

--border-bg-color: #2f303a;
--section-team-bg-color: #f5f4fa;

}
.body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}



.link {
    text-decoration:none;
}
.menu-item{list-style:none;}
.list {
    list-style:none;
}


.a
img{display: block;}
.current{color: #2196F3;}

.logo{

/* identical to box height */

letter-spacing: 0.03em;
color: #2196F3;}
.second-logo-header{
letter-spacing: 00.03em;
color: #000;
}
.second-lodo-footer{
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.page-logo{font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.36;
    text-decoration: none;}

.menu-nav{
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    color: #212121;
}
.menu-item :focus,
.menu-item :hover {color: #2196F3;}

.main-section{background-color: 
    #2F303A;

}
.footer-menu{
background-color: #2F303A;
height: 100%;
display: flex;
flex-direction: column;}
.second-lodo-footer{color: #FFFFFF;}


.modal-open-button{
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;}
    .modal-open-button:hover,
    .modal-open-button:focus
    {background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;}

.mail-link{ 
    font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    color: #757575;}

    .mail-link:hover,
    .mail-link:focus
    {color: #2196F3;}

.link:hover,
.link:focus
{color: #2196F3;}

.type-about{
font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.info-about{
font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;}


.main-title{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.modal-open-button{

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
    }

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

    .photo-description{
        width: 370px;
        height: 294px;
        left: 215px;
        top: 1058px;;}
    .photo-back{background-color: #FFFFFF;}

.second-tittle{font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;}


.employees{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.26;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;}
.profession{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;}

.location{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}



.nav-button{
    cursor: pointer;

    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    
    text-align: center;
}
.nav-button:hover,
.nav-button:focus
{text-align: center;
    letter-spacing: 0.03em;
    background: #2196F3;
/* shadow-middle */

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;;
    color: #212121;}

.class-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;}


.descr{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;}

